@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.main_page{
    font-family: 'Gugi', cursive;

}
.avatar_style{
    background-color: brown;
    width: 20%;

}

.avatar_style img{
    width: 20%;
    height: auto;
}

h1{
    font-family: 'Gugi', cursive;
}

.box_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    font-family: 'Gugi', cursive;
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}

.btn:hover{
    background-color: rgb(167, 166, 166);
}
        